*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    line-height: 1.3;
}
.label{
    color: #fff;
}
a{
    color: inherit;
}
.topbar{
    background-color:#303952 ;
    font-family: impact;
    
}
.topbar_logo{
    display: block;
    text-align: center;
    padding: 11px 0;
    font-size: 24px;
}
.topbar a{
    text-decoration: none;
}
.topbar_nav{
    text-align: center;
    padding-bottom: 16px;
    line-height: 1.6;
    display:flex;
}
.topbar_nav a {
    display: inline-block;
    margin: 0 12px;
    color: rgb(255, 255, 225, 0.67);
    transition: color .3s;
}
.topbar_nav a:hover,
.topbar_nav a:active{
  color: #fff;  
}
.container{
    padding: 0 20px;
    max-width: 1080px;
    
}
.sidebar a{
    text-decoration: none;
    display: block;
    width: 50%;
    padding: 0.6em 0 ;
} 
.sidebar{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.sidebar a:hover, .sidebar a:active{
    color: #000000 ;
}
@media only screen and (min-width:520px){
 
.topbar {
    background-color:#303952 ;
    font-family: impact;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 25px;
}
.topbar_logo,
.topbar_nav{
    padding:0;
}
.topbar_nav a {
    margin: 0 20px;
}

}